body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
}

.container {
    margin-top: 20%;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#yes-btn {
    background-color: lightgreen;
}

#no-btn {
    background-color: lightcoral;
}
